<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("./partials/header"); %>
      <title>Blogify - Home</title>
  </head>

  <body>
    <%- include("./partials/nav_bar"); %>
      <%= JSON.stringify(user) %>
        <%- include("./partials/scripts"); %> <%- include("./partials/footer"); %>
  </body>

</html>